<html>
  <head>
    <!-- jQuery -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->

    <!-- template -->
<!--     <script>
      $(document).ready(function(){
        $("#template").load("views/template.html");
      });
    </script> -->


    <title>test</title>
  </head>
  <body>

    <!-- <div id="template"></div> -->

    <h1>Hello.</h1>

    Links:
    <ul>
      <li><a href="https://github.com/nasjcodes/nasjcodes.github.io">This website's repository</a> - Includes details of my progress before this site is functional.</li>
      <li><a href="https://github.com/nasjcodes/android-quotebook">QuoteBook</a> - My first Android application</li>
      <li><a href="https://github.com/nasjcodes/snake-mobile">Snake Mobile</a> - My second Android application</li>
    </ul>

  </body>
</html>